$color-1: rgb(128, 128, 128);
$color-2: #fff;
$padding: 0 35px;
$font-family: Consolas, "Courier New", monospace;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.observer-p.show {
  animation: bottomToTop 1s;
  opacity: 1;
}
.active {
  background-color: #114c45;
  border-radius: 5px;
}
.active-2 {
  height: 450px !important;
}
.sign-in {
  border: 1px solid $color-2;
  border-radius: 5px;
  padding: 10px 0 !important;
  width: 100%;
  display: inline-block;
}
.sign-in-cont {
  width: 70%;
}
.menu-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 40px 0;
  justify-content: space-evenly;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: #114c45;
  position: absolute;
  z-index: 10;
  top: 7pc;
  left: 0;
  li {
    text-align: center;
  }
  a {
    color: $color-2;
    font-weight: bold;
    padding: 10px 40pc;
  }
  a:active {
    background-color: rgba(0, 140, 255, 0.1);
  }
}
.m-h-c {
  width: 100%;
  height: 600px;
  color: $color-2;
  background-color: #114c45;
}
.ham-menu {
  box-shadow: 0 2px 7px black;
}
.menu-header-container {
  width: 100%;
  height: 600px;
  color: $color-2;
  background-image: url(../Img/slider.jpg);
  background-size: cover;
  .menu-header-content {
    background-color: rgba(97, 150, 97, 0.3);
    width: 100%;
    height: 100%;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  padding-top: 40px;
  .title {
    img {
      width: 100px;
    }
  }
  .menu {
    i {
      font-size: 22px;
      cursor: pointer;
      padding: 20px;
    }
  }
}
//header
.header {
  height: 500px;
  position: relative;
  .header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      word-wrap: break-word;
    }
    p:first-child {
      font-size: 80px;
      font-weight: bold;
    }
    .h-p {
      word-spacing: 2px;
      margin-top: 20px;
      letter-spacing: 1px;
      font-size: 22px;
    }
    button {
      letter-spacing: 1px;
      color: $color-2;
      font-weight: bold;
      padding: 20px;
      width: 150px;
      height: auto;
      background-color: green;
      border: unset;
      border-radius: 4px;
      margin-top: 60px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(44, 177, 44);
    }
  }
}

//end of header
// features header
.features-header {
  p:first-child {
    font-size: 7pc !important;
  }
  p:last-child {
    font-size: 25px;
    word-spacing: 4px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
}

.middle-content {
  padding: $padding;
}
.after-header-txt {
  width: 550px;
  padding: 9pc 0 0 0;
  p {
    font-size: 20px;
  }
  span {
    font-weight: bold;
    color: #000;
  }

  p:last-child {
    color: $color-1;
    font-weight: normal;
  }
}

.after-main-txt {
  display: flex;
  justify-content: center;
  padding: 7pc 0;
  // width: 100%;
  flex-wrap: wrap;
  .content-main {
    box-shadow: 2px 2px 6px rgb(188, 188, 188);
    border-radius: 6px;
    width: 400px;
    height: auto;
    padding: 50px;
    margin: 0 20px 30px 0;
    img {
      width: 50px;
      height: 50px;
    }
    h3 {
      margin: 25px 0;
    }
    p {
      word-spacing: 12px;
      line-height: 26px;
      color: $color-1;
    }
  }
  // .content-main:nth-child(2) {
  //   margin: 0 30px;
  // }
}
.after-main-txt-2 {
  padding: 2pc 0 0 0 !important;
  flex-wrap: nowrap !important;
  .content-main-2 {
    width: 50%;
  }
}
.amt2 {
  padding-bottom: 6pc !important;
}
//center line for the feature page
.center-line {
  width: 100%;
  height: 2px;
  border: unset;
  background-color: rgb(222, 222, 222);
  margin-bottom: 6pc;
}
//end

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slide {
  width: 100%;
  height: 550px;
  margin-bottom: 6pc;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    animation: fade-in 0.5s;
  }
}
.cc-txt {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  span {
    font-weight: bold;
    color: #000;
  }
  p {
    color: $color-1;
    text-align: center;
    line-height: 27px;
    margin-bottom: 3pc;
  }
  a {
    margin-bottom: 10pc;
  }
}

.more {
  font-family: $font-family;
  color: green;
  cursor: pointer;
  word-spacing: 7px;
}

.food-content {
  .food-content-c {
    display: flex;
    width: 100%;
    margin-bottom: 70px;

    .food-img-content {
      width: 50%;
      margin-right: 25px;
      img {
        width: 100%;
        height: 330px;
      }
    }
    .food-txt-cont {
      width: 50%;
      margin-top: 10px;
      p:first-child {
        font-size: 18px;
        word-spacing: 6px;
        margin-bottom: 20px;
      }
      p:last-child {
        font-family: monospace;
      }
      p {
        font-weight: normal;
        color: $color-1;
        line-height: 27px;
        span {
          color: #000;
          font-weight: bold;
        }
      }
    }
  }

  .f-c-c {
    .food-txt-cont {
      margin-right: 30px;
    }
  }
  .after-food-content-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10pc;
    p {
      font-weight: 600;
      margin-bottom: 10px;
    }
    a {
      font-size: 13px;
    }
  }
}
// befor footer
.imgg {
  position: relative;
  width: 100%;
  height: 550px;
  img {
    width: 100%;
    height: 100%;
  }
  .imgg-content {
    position: absolute;
    top: 5pc;
    right: 2pc;
    z-index: 20;
    width: 300px;
    height: auto;
    padding: 40px;
    background-color: rgb(46, 165, 46);
    color: $color-2;
    font-size: 17px;
    .imgg-txt {
      display: flex;
      align-items: center;
      color: $color-2;
      margin-bottom: 20px;
      span {
        margin-left: 15px;
        width: 20px;
        height: 2px;
        background-color: $color-2;
      }
    }
    .pp {
      margin-bottom: 40px;
      line-height: 25px;
    }
    span {
      font-weight: bold;
      color: $color-2;
    }
    button {
      letter-spacing: 1px;
      color: #000;
      font-weight: bold;
      padding: 15px;
      width: 150px;
      height: auto;
      background-color: $color-2;
      border: unset;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(228, 228, 228);
    }
  }
}

.bf-2 {
  margin-top: 6pc;
  padding: 0 35px;
}
.before-footer {
  .f-b-footer {
    display: flex;
    color: green;
    align-items: center;
    p {
      margin-right: 10px;
    }
    span {
      width: 20px;
      height: 2px;
      background-color: green;
    }
  }
  .s-b-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7pc;
    p {
      margin-top: 20px;
      width: 50%;
      color: $color-1;
      font-size: 17px;
      line-height: 25px;
      span {
        font-weight: bold;
        color: #000;
      }
    }
    button {
      letter-spacing: 1px;
      color: $color-2;
      font-weight: bold;
      padding: 15px;
      width: 150px;
      height: auto;
      background-color: green;
      border: unset;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(44, 177, 44);
    }
  }
}

.footer {
  padding: 6pc 2pc 8pc 2pc;
  background-color: rgb(9, 10, 21);
  color: #fff;
  display: flex;
  justify-content: space-between;
  .left-side-footer {
    margin-right: 30px;
    word-wrap: break-word;
    img {
      width: 100px;
    }
    p {
      color: $color-1;
    }
  }
  .right-side-footer {
    display: flex;
    .nxt-foot {
      display: flex;
    }
    .uls {
      margin-right: 5pc;
      li {
        margin-bottom: 1pc;
      }
    }
    a {
      color: $color-2;
    }
    .icons {
      display: flex;
      i {
        font-size: 13px;
        cursor: pointer;
      }
      li:nth-child(2) {
        margin: 0 30px;
      }
    }
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(55px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 850px) {
  .food-content-c {
    flex-direction: column;
    align-items: center;
    .food-img-content {
      width: 90% !important;
      margin-right: 0 !important;
    }
    .food-txt-cont {
      width: 80% !important;
      margin: 50px 0 !important;
    }
  }
  .f-c-c {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 700px) {
  .right-side-footer {
    flex-direction: column;
  }
  .after-main-txt-2 {
    flex-wrap: wrap !important;
    .content-main-2 {
      width: 400px;
    }
  }
}
@media screen and (max-width: 600px) {
  .after-header-txt {
    width: 100%;
    span {
      font-weight: bold;
      color: #000;
    }
  }
  .slide {
    height: 20vh;
  }
  .s-b-footer {
    flex-direction: column;
    width: 100% !important;
    p {
      width: 95% !important;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
    align-items: center;
    .left-side-footer {
      margin-bottom: 30px;
    }
    .right-side-footer {
      align-items: flex-start;
      word-wrap: break-word;
      .uls {
        margin-right: 10px;
      }
    }
    .n-f {
      .uls {
        margin-right: 5pc !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header-content {
    p:first-child {
      font-size: 50px !important;
    }
  }
}
